<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="browser" value="edge"></parameter>
	<parameter name="siteURL" value="https://opensource-demo.orangehrmlive.com/web/index.php/auth/login"></parameter>
	<parameter name="username" value="Admin"></parameter>
	<parameter name="password" value="admin123"></parameter>
  <test thread-count="5" name="Test">
	  <classes>
		 <!-- <class name="com.login.validation.test.LoginValidationTest"></class>
		  <class name="com.search.functionality.validation.SearchFunctionality"></class>  -->
		  <class name="com.leave.functionality.test.ApplyLeaveTest"></class>
	  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
